{% extends "base.html" %}
{% load static %}

{% block title %} payment{% endblock title %}

{% block main %}

<!-- payment section starts -->

<section id="payment" class="mt-20 mb-20">
  <div class="container">

    <h3 class="text-center mb-5 mt-8 text-lg font-medium">Enter Your Delivary Info.</h3>
    <form action="{% url "payment:payment_address" %}" method="POST" class=" flex flex-col justify-center gap-y-3 md:flex-row md:gap-x-2 bg-white border shadow-md rounded px-8  py-5 mb-4">
      {% csrf_token %}

      <!-- form's address section -->
      <div class="md:w-2/3 space-y-2">

        <div>
          <label for="name">Full Name</label>
          <input type="text" name="name" required id="name" placeholder="Your full name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" name="full_name" required id="email" placeholder="Email (optional)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div>
          <label for="number">Phone Number</label>
          <input type="number" name="phone_number" required id="number" placeholder="Phone number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div>
          <label for="division">Devision</label>
          <input type="text" name="division" required id="division" placeholder="Your Devision name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div>
          <label for="district">district</label>
          <input type="text" name="district" required id="district" placeholder="Your district name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div>
          <label for="address">Address</label>
          <input type="text" name="address" required id="address" placeholder="Upazila, Apartment, suite, etc." class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

      </div>

      <!-- cart summary -->
      <div class="cart_summary md:w-1/3">
        <h4 class="text-center mb-4 font-bold">Order Summury</h4>
        <div class="summary px-12 md:px-4 py-4 md:py-4 my-5 md:my-0 md:ml-2 bg-c_gray rounded-md ">
        
          <div class="div flex justify-between px-1 py-1">
            <span class="font-bold">Total Product: </span> <small>{{product_count}}</small>
          </div>

          <div class="div flex justify-between px-1 py-1">
            <span class="font-bold">SubTotal: </span> <small id="subtotal">{{subtotal}} ৳</small>
          </div>

          <hr class="h-[.1rem] my-1 bg-c_primary">

          <!--  Radio button -->

          <div class="class=div flex justify-between px-1 py-1">

            <div>
              <span class="font-bold">Shiping</span>
            </div>

            <div class="shping_check_box ">
              <label class="block" for="radio_btn">All Bangladesh</label>
              <input class="block" required type="radio" name="shping" id="allBD" value="120">
              <label class="block" for="radio_btn" >120 <span>৳</span></label>
            </div>

            <div class="shping_check_box ">
              <label class="block" for="radio_btn">Dhaka</label>
              <input class="block" required type="radio" name="shping" id="Dhaka" value="60">
              <label class="block" for="radio_btn">60 <span>৳</span></label>
            </div>

          </div>

          <!--  checkbox button -->

          <div class="class=div flex justify-between px-1 py-1 mt-3">

            <div class="">
              <span class="font-bold">Payment</span>
            </div>

            <div class="shping_check_box ">
              <input type="checkbox" id="checkbox2" class="exclusive-checkbox" name="paymentMethod" value="Bkash">
              <label for="checkbox2">Bkash</label>
            </div>

            <div class="shping_check_box ">
              <input type="checkbox" id="checkbox1" class="exclusive-checkbox" name="paymentMethod" value="Cash On">
              <label for="checkbox1">Cash On</label>
            </div>
          </div>

          <hr class="h-[.1rem] my-1 bg-c_primary">

          <div>
            <h1 class="btn_fill text-center">Our Bkash Personal</h1>
            <h2 class="bg-c_gray text-center">018823576776</h2>

            <small> প্রিয় গ্রাহক, আমরা আপনার তথ্য অনৈতিক কোন কাজে ব্যবহার না করার অঙ্গীকার করছি। শুধু মাত্র সঠিক ভাবে পণ্য পোঁছানোর জন্যেই আমরা তথ্যগুলো নিয়ে থাকি। 
            
              <br>
            অর্ডার কনফার্ম করার জন্যে প্রথমে ডেলিভারি বাবদ  পে করতে হবে। দয়া করে নিচের ফর্মে যে নাম্বার থেকে পে করেছেন সেটা, এবং ট্রান্সেকশান আইডিটা লিখুন। 
            </small>
          </div>

          <div class="flex justify-between my-2">
            <label for="">Phone Number</label>
            <input type="number" name="transactionNumber" required placeholder="01xxxxxxxxxx" class="px-4 py-2">
          </div>

          <div class="flex justify-between">
            <label for="">Transaction Number</label>
            <input type="text" name="transactionId" required placeholder="09fVwxxxxxxxxxxxxx" class="px-4 py-2">
          </div>


          <hr class="h-[.1rem] my-1 bg-c_primary">

          <div class="div flex justify-between px-1 py-1">
            <span class="font-bold">Total: </span> <small id="totalamount">{{subtotal}} <span>৳</span></small>
          </div>

        </div>

        <div class="btn">
          <button class="bg-c_primary py-3 text-center px-6 text-sm md:text-xl font-semibold md:px-8 mx-auto block mt-4 text-white lg:text-sm rounded ">Coninue</button>
        </div>
      </div>

    </form>

  </div>
</section>

<!-- payment section ends -->

<!-- checkbox of billing page -->

<script>


let allBD = document.getElementById("allBD");
let dhaka = document.getElementById("Dhaka");
let totalamount = document.getElementById("totalamount");

allBD.addEventListener('click', function() {
    console.log('clicked');
    let m = parseInt(allBD.value);
    let n = parseInt(totalamount.textContent); // Parse the totalamount text as an integer

    totalamount.innerText = m + n; // Update the totalamount text content
});

dhaka.addEventListener('click', function() {
    console.log('clicked');
    let m = parseInt(dhaka.value);
    let n = parseInt(totalamount.textContent); // Parse the totalamount text as an integer

    totalamount.innerText = m + n; // Update the totalamount text content
});


  var checkboxes = document.querySelectorAll('.exclusive-checkbox');

  checkboxes.forEach(function (checkbox) {
    checkbox.addEventListener('change', function () {
      checkboxes.forEach(function (otherCheckbox) {
        if (otherCheckbox !== checkbox) {
          otherCheckbox.checked = false;
        }
      });
    });
  });
</script>


{% endblock main %}
