{% extends "base.html" %}
{% load static %}
{% block title %} Payment {% endblock title %}

{% block main %}


<section id="make-payment">
    <div class="container mt-32">
        <div class="flex justify-around item-center">
            <div class="cash_on">
                <a href="{% url "payment:feed_payment" 'Cash On' %}" class="btn_fill">Cash On Delivery</a>
            </div>
            <div class="bkash">
                <h1 class="btn_fill text-center">Bkash Personal</h1>
                <form action="{% url "payment:feed_payment" 'Bkash' %}" method="POST" class="mt-2 block">
                    {% csrf_token %} 
                    <input type="text" name="transaction" placeholder="type your transaction number" class="px-4 py-2">
                    <button class="btn_empty">submit</button>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock main %}